// /Reset styles

*,
*::before,
*::after {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      list-style-type: none;
      text-decoration: none;
}

//  variables

$lin_grad: linear-gradient(90deg, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
$v_lt_Gray_Blue: hsl(240, 78%, 98%);
$lt_Gray_Blue: hsl(234, 14%, 74%);
$gray_Blue: hsl(233, 13%, 49%);
$dk_Gray_Blue: hsl(232, 13%, 33%);

// global styles

html {
      font-size: 62.5%;
}

body {
      font-size: 1.6rem;
      font-family: "Montserrat", sans-serif;
      background: url(./images/bg-top.svg),
            url(./images/bg-bottom.svg) $v_lt_Gray_Blue;
      background-size: 100%, 0%;
      background-repeat: no-repeat;
      background-position: top -3.7rem right -19rem, bottom left;

      @media (min-width: 62.5rem) {
            background: url(./images/bg-top.svg),
                  url(./images/bg-bottom.svg) $v_lt_Gray_Blue;
            background-size: 28%, 23%;
            background-repeat: no-repeat;
            background-position: top right, bottom left;
      }
}

// styles

.main {
      width: 100%;
      min-height: 100vh;
      max-width: 40rem;
      margin: auto;
      display: flex;

      @media (min-width: 62.5rem) {
            max-width: 106rem;
      }

      .wrapper {
            width: 90%;
            margin: auto;
            text-align: center;
            padding: 7rem 0;

            @media (min-width: 62.5rem) {
                  width: 100%;
            }

            .header {
                  &__title {
                        font-size: 3.2rem;
                        color: $gray_Blue;
                  }

                  &__options {
                        display: flex;
                        justify-content: space-evenly;
                        align-items: center;
                        margin: 5rem auto;
                        max-width: 30rem;

                        span {
                              font-size: 1.5rem;
                              color: $lt_Gray_Blue;
                              transition: 300ms linear;
                        }

                        span.active {
                              color: $gray_Blue;
                        }

                        .checkbox-container {
                              &:hover {
                                    opacity: 0.7;
                              }

                              label {
                                    display: flex;
                                    width: 6rem;
                                    height: 3rem;
                                    background: $lin_grad;
                                    border-radius: 5rem;
                                    position: relative;
                                    cursor: pointer;

                                    &::before {
                                          content: "";
                                          width: 2rem;
                                          height: 2rem;
                                          position: absolute;
                                          top: 50%;
                                          left: 0.3rem;
                                          transform: translateY(-50%);
                                          cursor: pointer;
                                          background: $v_lt_Gray_Blue;
                                          border-radius: 5rem;
                                          box-shadow: 0 0.2rem 0.5rem 0
                                                rgba(0, 0, 0, 0.3);
                                          transition: all 0.4s ease;
                                    }
                              }

                              & input[type="checkbox"] {
                                    cursor: pointer;
                                    opacity: 0;
                                    position: absolute;
                              }

                              & input[type="checkbox"]:focus + label::before {
                                    box-shadow: 0 0 20px black;
                              }

                              & input[type="checkbox"]:checked + label::before {
                                    left: 3.7rem;
                              }
                        }
                  }
            }

            .content {
                  @media (min-width: 62.5rem) {
                        display: flex;
                        justify-content: center;
                  }

                  &__card {
                        padding: 3rem;
                        background: #fff;
                        border-radius: 1rem;
                        margin-top: 3rem;
                        color: $dk_Gray_Blue;
                        box-shadow: 0.2rem 0.2rem 2rem rgba(0, 0, 0, 0.2);
                        max-width: 35rem;

                        @media (min-width: 62.5rem) {
                              flex-basis: 33.33%;
                        }

                        &.pro {
                              background: linear-gradient(
                                    hsl(236, 72%, 79%),
                                    hsl(237, 63%, 64%)
                              );
                              color: #fff;

                              @media (min-width: 62.5rem) {
                                    transform: scaleY(1.1) scaleX(1.05);
                              }

                              .card-btn {
                                    background: $v_lt_Gray_Blue;
                                    color: hsl(237, 63%, 64%);

                                    &:hover,
                                    &:focus {
                                          color: $v_lt_Gray_Blue;
                                    }
                              }
                        }

                        h2 {
                              font-size: 2rem;
                              margin-top: 1rem;
                        }

                        .pricing {
                              padding: 3rem 0;
                              border-bottom: 0.1rem solid $lt_Gray_Blue;
                              display: flex;
                              align-items: center;
                              justify-content: center;

                              span {
                                    font-size: 3.3rem;
                                    margin-right: 1rem;
                              }

                              strong {
                                    font-size: 5.7rem;

                                    @media (min-width: 62.5rem) {
                                          font-size: 6.7rem;
                                    }
                              }

                              .lower-price {
                                    display: block;
                              }

                              .bigger-price {
                                    display: none;
                              }
                        }

                        .card-list {
                              .list-item {
                                    font-size: 1.5rem;
                                    padding: 2rem;
                                    border-bottom: 0.1rem solid $lt_Gray_Blue;
                              }
                        }

                        .card-btn {
                              margin-top: 3rem;
                              display: inline-block;
                              padding: 1.5rem 0;
                              width: 100%;
                              background: $lin_grad;
                              color: $v_lt_Gray_Blue;
                              text-transform: uppercase;
                              font-size: 1.3rem;
                              letter-spacing: 0.1rem;
                              border-radius: 1rem;
                              border: 1px solid $lt_Gray_Blue;

                              &:hover,
                              &:focus {
                                    background: transparent;
                                    color: hsl(237, 63%, 64%);
                              }
                        }
                  }
            }
      }
}
